<% include ../partials/header.ejs %>
    <div><%=post.title%></div>
    <div><%=post.date%></div>

    <% if(!currentUser){ %>
        <div>
            <p>What are your thoughts? Log in or Sign up</p>
        </div>
    <% }else{ %>
        <form method="POST" action="/<%= post._id %>/comments">
            <textarea name="comment[comment]"></textarea>
            <input type="submit" name="submit" id="submit" value="submit">
        </form>
    <%} %>

    <div>
        <% post.comments.forEach(comment=>{ %>
            <div><%=comment.user.username%></div>
            <div><%=comment.comment%></div>
        <% }) %>
    </div>

<% include ../partials/footer.ejs %>